.manual-action-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.manual-action-button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #ffffffe0;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
}

.manual-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.manual-error {
  color: var(--error);
  font-size: 18px;
}

.manual-error-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 35px;
}

.manual-submit {
  background-color: var(--alt-primary-accent);
}

.manual-submit:hover {
  background-color: var(--primary-accent);
}

.manual-cancel {
  background-color: var(--error);
}

.manual-cancel:hover {
  background-color: var(--error-accent);
}

.manual-close {
  background-color: var(--primary-color);
}

.manual-close:hover {
  background-color: var(--primary-accent);
}

input[type='text']:focus {
  border: 1px solid var(--secondary-accent);
  padding: 0.5rem;
}
